.card-tanquear {
    width: 500px;
    padding-top: 1em;
    padding-bottom: 1em;
    border: solid #003845 1px;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-tanquear {
    color: #003845;
}

label {
    color: #003845;
    font-weight: 500;
}

.input-tanquear {
    /* margin: 1.3em; */
    /* margin-top: 1em; */
    margin-bottom: 2em;
}

input, select {
    border-radius: 6px;
    border: 0;
    background: #dbe3e5;
    width: 100%;
    height: 33px;
    color: #8b9092;
}

.titulo-tanquear {
    margin-left: 1.5em;
}

.btns {
    display: flex;
    justify-content: right;
}

.btn-pagar {
    margin-left: 2em;
    margin-right: 2em;
    background: #003845;
    color: white;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
}

.btn-cancelar {
    border: 2px solid #003845;
    color: #003845;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    border-radius: 6px;
    background: white;
}