* {
  font-family: "Poppins", sans-serif;
}

.card-gasolinas,
.card-usuarios,
.card-precios {
  background-color: white;
  border-radius: 10px;
}

.card-gasolinas .title-card,
.card-usuarios .title-card,
.card-precios .title-card {
  display: flex;
  text-align: center;
  align-items: center;
  color: #003845;
  font-size: 20px;
  font-weight: bolder;
  height: 60px;
  justify-content: space-between;
  border-bottom: 1px solid #c7c7c7;
}

.header-card .header-title {
  font-weight: bolder;
  text-align: center;
  align-items: center;
  color: #c7c7c7;
}

.body-card .item-gasolina {
  text-align: center;
  font-weight: bolder;
  border-radius: 10px;
  color: #003845;
  display: flex;
  align-items: center;
  background-color: #e4eaec;
}

.body-card .item-gasolina i {
  font-size: 32px;
}

.body-card .item-usuario {
  color: #003845;
  border-radius: 10px;
  display: grid;
  height: 9rem;
  text-align: center;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  background-color: #e4eaec;
}

.body-card .item-usuario i {
  font-size: 60px;
  color: #003845;
}

.buttons-admin {
  display: flex;
  justify-content: end;
}

.buttons-ext {
  display: flex;
  justify-content: center;
}

.btn-tanquear {
  color: white;
  width: 30%;
  display: flex;
  border: none;
  font-size: larger;
  border-radius: 10px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  background-color: #003845 !important;
}

.btn-tanquear i {
  font-size: xx-large;
}

.card-precios {
  height: 31rem;
}

.card-precios .body-card {
  height: 23rem;
  overflow: auto;
}
.card-precios .body-card::-webkit-scrollbar {
  -webkit-appearance: none;
}
.card-precios .body-card::-webkit-scrollbar:vertical {
  width: 5px;
}
.card-precios .body-card::-webkit-scrollbar-thumb {
  background-color: #787878;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.body-card .item-precio {
  font-weight: bolder;
  color: #4a5759;
  text-align: center;
  border-bottom: 1px solid #eaebeb;
}
.body-card .item-precio i {
  color: #003845;
  font-size: 20px;
}

.footer-card {
  font-weight: bolder;
  color: #003845;
  text-align: center;
}

.main-vehicle { 
  padding-top: 28px;
  padding-right: 11px;
}